# Application Settings
PROJECT_NAME="Fio API"
# development, staging, production
ENVIRONMENT="development"  
DEBUG="true"

# ---Database URLs---
# Runtime user - used by the running application
DATABASE_URL=""

# Migration user - only used for database migrations
MIGRATION_DATABASE_URL=""

# Security Settings
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8000"
